[data-pttrn='tooltip'] {
    position: fixed;
    pointer-events: none;
    z-index: var(--z-index-tooltip-popover);

    [data-text] {
        display: block;
        z-index: 2;
        position: relative;
        background-color: var(--surface-neutral-inverse);
        border-radius: var(--radius-sm);
        color: var(--foreground-neutral-on-inverse-surface);
        box-shadow: var(--drop-shadow-float);
        font: var(--labels-small);
        padding: var(--spacing-sizing-01) var(--spacing-sizing-02);
        border: none;
        transition: opacity 0.2s ease-in-out;
        max-width: 300px;
        word-wrap: break-word;
    }

    --arrow-size: var(--spacing-sizing-01);
    --arrow-offset: calc(var(--arrow-size) * -2);
    --arrow-color: var(--surface-neutral-inverse);

    [data-arrow] {
        display: block;
        z-index: 1;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: var(--arrow-size) var(--arrow-size) var(--arrow-size) var(--arrow-size);
        border-color: transparent;
    }

    &[data-placement='bottom'] {
        [data-arrow] {
            top: var(--arrow-offset);
            border-bottom-color: var(--arrow-color);
        }
    }

    &[data-placement='top'] {
        [data-arrow] {
            border-top-color: var(--arrow-color);
        }
    }

    &[data-placement='right'] {
        [data-arrow] {
            margin-left: var(--arrow-offset);
            border-right-color: var(--arrow-color);
        }
    }

    &[data-placement='left'] {
        [data-arrow] {
            right: var(--arrow-offset);
            border-left-color: var(--arrow-color);
        }
    }
}
