[data-pttrn='divider'] {
    /*! --inset: is set via inline style */

    display: flex;
    background-color: var(--stroke-neutral-low);
    align-self: stretch;
    place-content: stretch stretch;
    margin: 0;
    padding: 0;
    content: '';

    --length: calc(100% - var(--inset) * 2);

    &,
    &[data-thickness='light'] {
        --line-thickness: 1px;
        --padding: var(--spacing-sizing-02);
    }

    &[data-thickness='heavy'] {
        --line-thickness: 2px;
        --padding: var(--spacing-sizing-04);

        border-radius: var(--radius-full);
    }

    &, /* default */
  &[data-orientation='horizontal'] {
        min-height: var(--line-thickness);
        min-width: var(--length);
        margin: var(--padding) var(--inset);
    }

    &[data-orientation='vertical'] {
        min-width: var(--line-thickness);
        min-height: var(--length);
        margin: var(--inset) var(--padding);
    }

    &[data-hide-padding] {
        --padding: 0;
    }
}
