[data-pttrn='accordion'] {
    display: block;
    width: 100%;
    padding: var(--spacing-sizing-02);

    &:empty {
        display: none;
    }

    > [data-pttrn='accordion-item'] {
        --border-bottom-color: var(--stroke-neutral-base);

        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--foreground-neutral-on-surface);

        &[data-disabled] {
            --border-bottom-color: var(--stroke-neutral-disabled-light);

            background:
                linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
            color: var(--foreground-neutral-disabled-on-surface);
        }

        button[data-header] {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: none;
            color: inherit;
            border: none;
            padding: 0 var(--spacing-sizing-02);
            gap: var(--spacing-sizing-02);
            font: inherit;
            cursor: pointer;
            outline: none;
            min-height: var(--spacing-sizing-12);

            [data-title-subtitle] {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1;

                [data-title] {
                    font: var(--labels-base);
                }

                [data-subtitle] {
                    font: var(--body-x-small);
                    color: var(--foreground-neutral-on-surface-variant-01);
                }
            }

            [data-arrow] {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: var(--spacing-sizing-02);

                svg {
                    width: var(--spacing-sizing-06);
                }
            }

            &:not(:disabled) {
                &:hover {
                    background-image:
                        linear-gradient(
                            var(--interactions-neutral-hover-opacity),
                            var(--interactions-neutral-hover-opacity)
                        ),
                        linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
                }

                &:active {
                    background-image:
                        linear-gradient(
                            var(--interactions-neutral-press-opacity),
                            var(--interactions-neutral-press-opacity)
                        ),
                        linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
                }
            }

            &:disabled {
                cursor: not-allowed;
                color: var(--foreground-neutral-disabled-on-surface);
                border-color: var(--stroke-neutral-disabled-light);
            }
        }

        &:has(:focus-visible) {
            outline: 2px solid var(--stroke-neutral-focus);
            border-color: var(--stroke-neutral-focus);
            margin-bottom: 1px;
        }

        [data-content] {
            padding: var(--spacing-sizing-01) var(--spacing-sizing-02) var(--spacing-sizing-04);
        }
    }

    [data-divider] {
        display: block;
        height: 1px;
        width: calc(100% - var(--spacing-sizing-04));
        margin: -1px var(--spacing-sizing-02) 0;
        background-color: var(--border-bottom-color);
    }
}
