[data-pttrn='list-item'] {
    display: flex;
    user-select: none;
    color: var(--foreground-neutral-on-surface);
    background-color: var(--surface-neutral-t1-base);
    height: 100%;
    overflow: hidden;
    min-height: var(--list-item-height);
    flex-direction: row;
    gap: var(--spacing-sizing-03);
    padding: var(--spacing-sizing-02);
    justify-items: stretch;

    /* prevent inherited styles from affecting layout when the as prop is leveraged */
    border: unset;
    border-radius: var(--radius-sm);
    margin: unset;
    text-decoration: unset;
    width: 100%;

    &[data-width='hug'] {
        width: auto;
        max-width: 100%;
    }

    [data-pseudo='focus'] &,
    &:focus-visible,
    &:has(*:focus-visible) {
        outline: solid 2px var(--stroke-neutral-focus);
        isolation: isolate;

        [data-inner] {
            border-color: transparent;
        }
    }

    &:not([data-disabled], [data-readonly]) {
        &[data-action],
        &:is(label) {
            &[data-active],
            [data-pseudo='hover'] &,
            &:hover {
                background-color: var(--interactions-neutral-hover-opacity);
            }

            [data-pseudo='active'] &,
        /* pressed state */
        &:active {
                background-color: var(--interactions-neutral-press-opacity);
            }
        }
    }

    [data-leading],
    [data-item-label],
    [data-trailing] {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1 1 0;
        min-width: 0;

        svg {
            width: 24px;
            max-width: unset;
        }
    }

    [data-leading],
    [data-trailing] {
        width: fit-content;
        flex: 0 0 auto;

        &:empty {
            display: none;
        }
    }

    [data-item-label] {
        text-align: left;

        [data-text] {
            width: 100%;
            font: var(--labels-small);
            color: var(--foreground-neutral-on-surface);
        }

        [data-sub-text] {
            width: 100%;
            font: var(--body-small);
            color: var(--foreground-neutral-on-surface-variant-01);
        }
    }

    [data-trailing]:has(input) {
        pointer-events: none;
    }

    img {
        height: 36px;
        width: 36px;
        max-width: unset;
    }

    &:is(label) {
        [data-inner] {
            border-bottom: 0;
            gap: var(--spacing-sizing-02);
        }
    }

    &[aria-selected='true'] {
        background-color: var(--surface-brand-primary-highlight);
    }

    &[data-disabled],
    &[data-readonly] {
        [data-text],
        [data-sub-text] {
            color: var(--foreground-neutral-disabled-on-surface);
            cursor: not-allowed;
        }
    }
}
