[data-pttrn='chip-group'] {
    display: flex;
    gap: var(--spacing-sizing-02);
    width: 100%;
    flex-flow: row wrap;
    padding-bottom: var(--spacing-sizing-01);

    &:empty {
        display: none;
    }

    &[data-scroll] {
        overflow: auto;
        flex-wrap: nowrap;
    }
}
