[data-pttrn='input-number'] {
    /* medium is the default size */
    --font: var(--body-base);
    --height: var(--spacing-sizing-10);
    --svg-width: var(--spacing-sizing-05);
    --color: var(--foreground-neutral-on-surface);

    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font: var(--font);
    height: var(--height);
    border: 1px solid var(--stroke-neutral-base);
    border-radius: var(--radius-sm);
    background: var(--surface-neutral-t1-base);

    &:focus-within {
        outline: solid 2px var(--stroke-neutral-focus);
        isolation: isolate;
    }

    [data-divider] {
        width: 1px;
        background: var(--stroke-neutral-base);
        margin: 3px 0;

        /* account for border - 3(margin)  * 2 + 2(border) */
        height: calc(var(--height) - 8px);
    }

    button {
        width: var(--height);
        height: calc(var(--height) - 2px);
        background: none;
        border: none;
        cursor: pointer;
        font: var(--font);
        flex-shrink: 0;

        svg {
            width: var(--svg-width);
        }

        &:focus {
            outline: none;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color);

        &:disabled {
            cursor: not-allowed;
            color: var(--foreground-neutral-disabled-on-surface);
        }
    }

    input {
        color: var(--color);
        min-width: 0;
        display: block;
        font: var(--font);
        text-align: center;
        padding: 0 var(--spacing-sizing-03);
        background: transparent;
        border: none;
        flex-grow: 1;

        &:focus {
            outline: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }

        &[type='number'] {
            appearance: textfield;
        }
    }

    &:not([data-disabled], [data-readonly]) {
        input,
        button:not(:disabled) {
            &:hover {
                background-color: var(--interactions-hover-opacity);
            }

            &:active {
                background-color: var(--interactions-press-opacity);
            }
        }

        &[data-invalid] {
            border-color: var(--status-error);
            outline-color: var(--status-error);
        }
    }

    &[data-disabled],
    &[data-readonly] {
        --color: var(--foreground-neutral-disabled-on-surface);

        border-color: var(--stroke-neutral-disabled-light);
        background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));

        [data-divider] {
            border-color: var(--stroke-neutral-disabled-light);
        }
    }

    &[data-readonly] {
        input {
            color: var(--foreground-neutral-on-surface) !important;
        }
    }

    &[data-size='small'] {
        --font: var(--body-small);
        --height: var(--spacing-sizing-08);
    }

    &[data-size='large'] {
        --font: var(--body-large);
        --height: var(--spacing-sizing-12);
        --svg-width: var(--spacing-sizing-06);
    }

    &[data-centered] {
        button:first-of-type {
            order: -1;
        }

        [data-divider] {
            display: none;
        }
    }
}
