[data-pttrn='switch'] {
    --track-width: var(--spacing-sizing-09);
    --toggle-width: var(--spacing-sizing-04);
    --track-bg: var(--surface-neutral-t4-high);
    --toggle-bg: var(--foreground-neutral-on-color);

    display: block;
    margin: 2px;

    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
    }

    width: var(--track-width);
    height: var(--spacing-sizing-05);
    border-radius: var(--spacing-sizing-05);
    background-color: var(--track-bg);
    position: relative;
    z-index: 1;

    span {
        display: block;
        width: var(--toggle-width);
        height: var(--toggle-width);
        border-radius: var(--radius-full);
        background-color: var(--toggle-bg);
        transition: left 0.2s;
        box-shadow: var(--drop-shadow-raise);
        left: 2px;
        top: 2px;
        position: absolute;
    }

    &:has(input[type='checkbox']:checked) {
        --track-bg: var(--foreground-brand-primary);

        span {
            left: calc(var(--track-width) - var(--toggle-width) - 2px);
        }
    }

    &:has(input[type='checkbox']:disabled) {
        input[type='checkbox'] {
            pointer-events: none;
        }

        --track-bg: var(--interactions-disabled-opacity);
        --toggle-bg: var(--foreground-neutral-disabled-on-surface);

        &:has(input[type='checkbox']:checked) span {
            --toggle-bg: var(--foreground-neutral-disabled-on-color-surface);
        }
    }
}
