[data-pttrn='select'] {
    /* default -- size medium not disabled or readonly */

    --select-background: var(--surface-neutral-t1-base);
    --select-border-color: var(--stroke-neutral-base);
    --select-text-color: var(--foreground-neutral-on-surface);
    --select-height: var(--spacing-sizing-10);
    --select-font: var(--body-base);
    --select-clear-height: var(--spacing-sizing-05);
    --select-padding: var(--spacing-sizing-03);
    --select-icon-width: var(--spacing-sizing-05);

    overflow: hidden;
    position: relative;
    width: 100%;
    outline: unset;
    min-height: var(--select-height);
    max-height: var(--select-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sizing-02);
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
    font: var(--select-font);
    border: 1px solid var(--select-border-color);
    border-radius: var(--radius-sm);
    background: var(--select-background);
    padding: 0 var(--select-padding);
    cursor: pointer;

    [data-input] {
        position: absolute;
        opacity: 0;
        inset: 0;
        cursor: pointer;
    }

    [data-pttrn='list-item'] {
        background: transparent;
    }

    [data-pttrn='list-item'] [data-item-label] [data-text] {
        font: var(--select-font);
        color: var(--select-text-color);
    }

    &[data-size='small'] {
        --select-height: var(--spacing-sizing-08);
        --select-font: var(--body-small);
        --select-clear-height: var(--spacing-sizing-05);
        --select-padding: var(--spacing-sizing-02);
        --select-icon-width: var(--spacing-sizing-05);
    }

    &[data-size='large'] {
        --select-height: var(--spacing-sizing-12);
        --select-font: var(--body-large);
        --select-clear-height: var(--spacing-sizing-06);
        --select-icon-width: var(--spacing-sizing-06);
    }

    &[aria-disabled],
    &[aria-readonly]:not([data-empty]) {
        --select-text-color: var(--foreground-neutral-disabled-on-surface);
        --select-border-color: var(--stroke-neutral-disabled-light);
        --select-background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));

        cursor: not-allowed;

        &[aria-readonly]:not([data-empty]) {
            --select-text-color: var(--foreground-neutral-on-surface);
        }
    }

    &:not([aria-disabled], [aria-readonly]) {
        &:focus-within {
            --select-border-color: var(--stroke-neutral-focus);

            border-width: 1px;
            outline: 1px solid var(--stroke-neutral-focus);
        }

        &:hover {
            --select-background:
                linear-gradient(var(--interactions-neutral-hover-opacity), var(--interactions-neutral-hover-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
        }

        &:active {
            --select-background:
                linear-gradient(var(--interactions-neutral-press-opacity), var(--interactions-neutral-press-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
        }
    }

    &[data-invalid] {
        --select-border-color: var(--status-error);
    }
}
