[data-pttrn='table'] {
    /*! --template-columns: is set via inline style */

    --white-background: var(--surface-neutral-t1-base);
    --grey-background: var(--surface-neutral-t2-lowest);
    --icon-size: var(--spacing-sizing-05);

    display: block;
    min-width: 100%;
    overflow: auto hidden;
    border-collapse: separate;
    text-align: left;
    border-spacing: 2rem 0.125rem;
    color: var(--foreground-neutral-on-surface);
    font: var(--labels-base);
    border-radius: var(--radius-md);
    border: 1px solid var(--stroke-neutral-low);
    background: var(--white-background);

    /* [data-size='medium'] */
    --min-height: var(--spacing-sizing-10);
    --padding-y: var(--spacing-sizing-02);

    &[data-size='x-large'] {
        --min-height: var(--spacing-sizing-14);
        --padding-y: var(--spacing-sizing-04);
    }

    &[data-size='large'] {
        --min-height: var(--spacing-sizing-12);
        --padding-y: var(--spacing-sizing-03);
    }

    &[data-size='small'] {
        --min-height: var(--spacing-sizing-08);
        --padding-y: var(--spacing-sizing-01);
    }

    [data-scroll-container] {
        width: fit-content;
        min-width: 100%;
        border-radius: var(--radius-md);
    }

    table {
        display: grid;
        grid-template-columns: var(--template-columns);
        border-collapse: collapse;
        min-width: 100%;

        tr,
        tbody,
        thead {
            display: contents;
        }

        caption {
            grid-column: 1 / -1;
            background: var(--grey-background);
            border-bottom: 1px solid var(--stroke-neutral-low);
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            font: var(--labels-small);
            min-height: var(--min-height);
            padding: calc(var(--padding-y) + 2px) var(--spacing-sizing-04);
            overflow: hidden;
        }

        th {
            display: flex;
            min-height: var(--min-height);
            overflow: hidden;
            flex-direction: row;
            background: var(--grey-background);
            font: var(--labels-small);
            border-bottom: 1px solid var(--stroke-neutral-base);
            white-space: nowrap;
            z-index: 1;
            position: relative;

            &:not([data-sortable]) {
                padding: calc(var(--padding-y) + 2px) var(--spacing-sizing-04);
                pointer-events: none;
            }

            &[data-sortable] {
                button {
                    display: flex;
                    min-height: var(--min-height);
                    border: none;
                    overflow: hidden;
                    flex-direction: row;
                    padding: calc(var(--padding-y) + 2px) var(--spacing-sizing-04);
                    background: var(--grey-background);
                    align-items: center;
                    justify-content: space-between;
                    gap: var(--spacing-sizing-02);
                    width: 100%;
                    cursor: pointer;
                    font: inherit;
                    outline: none;
                    position: relative;

                    &:hover {
                        background:
                            linear-gradient(
                                var(--interactions-neutral-hover-opacity),
                                var(--interactions-neutral-hover-opacity)
                            ),
                            linear-gradient(var(--grey-background), var(--grey-background));
                    }

                    &:active {
                        background:
                            linear-gradient(
                                var(--interactions-neutral-press-opacity),
                                var(--interactions-neutral-press-opacity)
                            ),
                            linear-gradient(var(--grey-background), var(--grey-background));
                    }

                    [data-sort-icon] {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        svg {
                            width: var(--icon-size);
                        }
                    }

                    &:focus-visible {
                        position: absolute;
                        z-index: var(--z-index-focus);
                        inset: 0;
                        outline: solid 2px var(--stroke-neutral-focus);
                        isolation: isolate;
                    }
                }
            }

            &[data-align='right'] {
                align-items: flex-end;

                button {
                    justify-content: flex-end;
                }
            }

            &[data-align='center'] {
                align-items: center;

                button {
                    justify-content: center;
                }
            }

            &[data-align='left'] {
                align-items: flex-start;

                button {
                    justify-content: space-between;
                }
            }
        }

        td {
            display: flex;
            min-height: var(--min-height);
            overflow: hidden;
            padding: calc(var(--padding-y) + 2px) var(--spacing-sizing-04);
            flex-direction: column;
            font: var(--body-small);

            &[data-align='right'] {
                align-items: flex-end;
            }

            &[data-align='center'] {
                align-items: center;
            }

            &[data-align='left'] {
                align-items: flex-start;
            }

            &[data-valign='top'] {
                justify-content: flex-start;
            }

            &[data-valign='bottom'] {
                justify-content: flex-end;
            }

            &[data-valign='center'] {
                justify-content: center;
            }

            p {
                margin: 0;
                padding: 0;
                font: var(--body-small);
            }

            &[data-action]:hover {
                background:
                    linear-gradient(
                        var(--interactions-neutral-hover-opacity),
                        var(--interactions-neutral-hover-opacity)
                    ),
                    linear-gradient(var(--white-background), var(--white-background));
            }
        }

        tr:nth-child(even) td {
            background: var(--grey-background);

            &[data-action]:hover {
                background:
                    linear-gradient(
                        var(--interactions-neutral-hover-opacity),
                        var(--interactions-neutral-hover-opacity)
                    ),
                    linear-gradient(var(--grey-background), var(--grey-background));
            }
        }
    }

    [data-pagination] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-sizing-03) var(--spacing-sizing-04);
        width: 100%;

        [data-pagination-label] {
            font: var(--body-small);
            min-width: fit-content;
        }

        [data-pttrn='pagination'] {
            flex-grow: 0;
        }
    }
}
