[data-pttrn='pagination'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sizing-01);
    flex: 1;

    [data-input-form] {
        display: contents;

        [data-pttrn='input'] {
            max-width: var(--spacing-sizing-12);
            margin-right: var(--spacing-sizing-01);

            input {
                text-align: center;
            }
        }

        span {
            display: block;
            white-space: nowrap;
            font: var(--body-small);
        }
    }

    button[data-pttrn-owner='pagination'][data-pttrn='button'][data-size='small'] {
        padding: 6px 0;
    }
}
