[data-pttrn='popover'] {
    position: absolute;
    z-index: var(--z-index-tooltip-popover);
    background: var(--surface-neutral-t1-base);
    box-shadow: var(--drop-shadow-float);
    padding: var(--spacing-sizing-04);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    max-width: 300px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--spacing-sizing-02);
        gap: var(--spacing-sizing-04);

        [data-pttrn='button'][data-close] {
            margin-right: calc(var(--spacing-sizing-02) * -1);
            margin-top: calc(var(--spacing-sizing-02) * -1);
        }
    }

    --arrow-size: var(--spacing-sizing-02);
    --arrow-offset: calc(var(--arrow-size) * -2);
    --arrow-background-color: var(--surface-neutral-t1-base);
    --position-left: 0px;
    --position-top: 0px;

    [data-arrow] {
        z-index: 1;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: var(--arrow-size) var(--arrow-size) var(--arrow-size) var(--arrow-size);
        border-color: transparent;
    }

    &[data-placement^='top'] {
        [data-arrow] {
            bottom: var(--arrow-offset);
            left: var(--position-left);
            border-top-color: var(--arrow-background-color);
            filter: drop-shadow(0 1px 1px var(--shadow-10));
        }
    }

    &[data-placement^='right'] {
        [data-arrow] {
            top: var(--position-top);
            margin-left: calc(var(--arrow-offset) * 2);
            border-right-color: var(--arrow-background-color);
            filter: drop-shadow(-1px 0 1px var(--shadow-10));
        }
    }

    &[data-placement^='bottom'] {
        [data-arrow] {
            left: var(--position-left);
            top: -15px;
            border-bottom-color: var(--arrow-background-color);
            filter: drop-shadow(0 -1px 1px var(--shadow-10));
        }
    }

    &[data-placement^='left'] {
        [data-arrow] {
            top: var(--position-top);
            right: var(--arrow-offset);
            border-left-color: var(--arrow-background-color);
            filter: drop-shadow(1px 0 1px var(--shadow-10));
        }
    }

    [data-content] {
        gap: var(--spacing-sizing-04);
        display: flex;
        flex-direction: column;
    }

    [data-cta-row] {
        display: flex;
        align-items: end;
        gap: var(--spacing-sizing-02);
        margin: 0 0 0 auto;
    }
}
