ul[data-pttrn='segmented-control'] {
    background: var(--surface-neutral-t3-low);
    border-radius: var(--radius-sm);
    padding: var(--spacing-sizing-01);

    &[data-width='fill'] {
        margin: 0 var(--spacing-sizing-04);
    }

    --padding: var(--spacing-sizing-04);

    &[data-size='small'] {
        --padding: var(--spacing-sizing-03);
    }

    &[data-size='large'] {
        --padding: var(--spacing-sizing-05);
    }

    %active {
        background: var(--interactions-neutral-hover-opacity);

        &[aria-selected='true'] {
            background:
                linear-gradient(var(--interactions-neutral-hover-opacity), var(--interactions-neutral-hover-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
        }
    }

    li {
        color: var(--foreground-neutral-on-surface);
        padding: 0 var(--padding);
        border-radius: var(--radius-sm);

        &:has([data-icon]) {
            /* smaller padding for icon-only items */
            padding: 0 calc(var(--padding) - var(--spacing-sizing-01));

            &:has([data-label]) {
                padding-right: var(--padding);
            }
        }

        &:not([aria-disabled]) {
            &[aria-selected='true'] {
                background: var(--surface-neutral-t1-base);
                box-shadow:
                    0 0 1px 0 var(--shadow-variant-03),
                    0 1px 1px 0 var(--shadow-variant-05);
            }

            &:hover {
                @extend %active;
            }

            &:active {
                background: var(--interactions-neutral-press-opacity);
            }
        }

        &[aria-disabled] {
            color: var(--foreground-neutral-disabled-on-surface);
            cursor: not-allowed;
        }
    }

    &:focus-within {
        li:not([aria-disabled])[data-active] {
            @extend %active;
        }
    }
}
