[data-pttrn='avatar-group'] {
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    [data-wrap] {
        min-width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    [data-pttrn='avatar'] {
        z-index: 1;

        &:hover {
            z-index: 2;
        }

        &[data-pttrn-owner='avatar-overflow'] {
            --avatar-border: solid 1px var(--stroke-neutral-low);

            background-color: var(--surface-neutral-t1-base);
        }
    }

    &[data-variant='spread'] {
        --avatar-border: none;

        [data-pttrn='avatar'] + [data-pttrn='avatar'] {
            margin-left: var(--spacing-sizing-02);
        }
    }

    &[data-variant='stacked'] {
        --avatar-border: solid 1px var(--stroke-neutral-low);

        [data-pttrn='avatar'] + [data-pttrn='avatar'] {
            margin-left: calc(var(--spacing-sizing-02) * -1);
        }
    }
}
