[data-pttrn='radio'] {
    display: block;
    position: relative;
    width: var(--spacing-sizing-06);
    aspect-ratio: 1/1;
    padding: 2px;

    input[type='radio'] {
        position: absolute;
        opacity: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    span {
        --stroke: var(--stroke-neutral-base);
        --inner: var(--foreground-brand-primary);
        --background: none;

        position: relative;
        z-index: 1;
        display: flex;
        width: var(--spacing-sizing-05);
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 2px solid var(--stroke);
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: var(--background);

        &::before {
            content: '';
            display: block;
            width: 100%;
            scale: 0.7;
            aspect-ratio: 1/1;
            background: var(--inner);
            border-radius: var(--radius-full);
            opacity: 0;
        }
    }

    input[type='radio']:not(:disabled) {
        &:hover + span {
            --background: var(--interactions-neutral-hover-opacity);
        }

        &:active + span {
            --background: var(--interactions-neutral-press-opacity);
        }

        &[data-invalid] + span {
            --stroke: var(--status-error);
            --inner: var(--status-error);
        }
    }

    input[type='radio']:checked + span {
        --stroke: var(--stroke-brand-primary);

        &::before {
            opacity: 1;
        }
    }

    input[type='radio']:disabled {
        pointer-events: none;

        & + span {
            --stroke: var(--stroke-neutral-interactions-disabled-light);
            --inner: var(--foreground-neutral-disabled-on-surface);
        }
    }
}
