[data-pttrn='avatar'] {
    /*! 
    --avatar-border: is set via inline style 
    */

    --height: var(--spacing-sizing-10);
    --font: var(--labels-base);
    --svg-size: var(--spacing-sizing-10);

    border: var(--avatar-border);

    &:not([data-color]) {
        --foreground: var(--foreground-neutral-on-surface);
        --background: var(--surface-neutral-t3-low);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: var(--height);
    width: var(--height);
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-full);
    background-color: var(--background);
    color: var(--foreground);
    font: var(--font);
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;

    &:has(img) {
        overflow: hidden;
        align-items: start;
        justify-content: start;
    }

    img {
        vertical-align: top;
        max-width: 100%;
        height: auto;
    }

    svg {
        width: var(--svg-size);
        height: var(--svg-size);
    }

    [data-icon] {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &[data-size='x-small'] {
        --height: var(--spacing-sizing-06);
        --font: var(--labels-x-small);
        --svg-size: var(--spacing-sizing-04);
    }

    &[data-size='small'] {
        --height: var(--spacing-sizing-08);
        --font: var(--labels-small);
        --svg-size: var(--spacing-sizing-05);
    }

    &[data-size='medium'] {
        --height: var(--spacing-sizing-10);
        --font: var(--labels-base);
        --svg-size: var(--spacing-sizing-05);
    }

    &[data-size='large'] {
        --height: var(--spacing-sizing-12);
        --font: var(--labels-large);
        --svg-size: var(--spacing-sizing-06);
    }

    &[data-size='x-large'] {
        --height: var(--spacing-sizing-14);
        --font: var(--subheader-x-large);
        --svg-size: var(--spacing-sizing-08);
    }

    &[data-size='xx-large'] {
        --height: var(--spacing-sizing-17);
        --font: var(--subheader-xx-large);
        --svg-size: var(--spacing-sizing-12);
    }

    &[data-size='xxx-large'] {
        --height: var(--spacing-sizing-19);
        --font: var(--display-regular-small);
        --svg-size: var(--spacing-sizing-15);
    }

    &[data-size='xxxx-large'] {
        --height: var(--spacing-sizing-21);
        --font: var(--display-regular-medium);
        --svg-size: var(--spacing-sizing-17);
    }

    &[data-size='xxxxx-large'] {
        --height: var(--spacing-sizing-23);
        --font: var(--display-regular-large);
        --svg-size: var(--spacing-sizing-18);
    }

    --state-background: transparent;

    &::after {
        content: '';
        position: absolute;
        display: block;
        inset: 0;
        border-radius: var(--radius-full);
        background: var(--state-background);
    }

    &:not([aria-disabled])[role='button'] {
        &:hover {
            --state-background: var(--interactions-neutral-hover-opacity);
        }

        &:active {
            --state-background: var(--interactions-neutral-press-opacity);
        }
    }

    &[aria-disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:focus:not(:active, [aria-disabled]) {
        outline: 2px solid var(--stroke-neutral-focus);
        outline-offset: -2px;
    }
}
