[data-pttrn='badge'] {
    --size: var(--spacing-sizing-06);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    height: var(--size);
    width: fit-content;
    min-width: var(--size);
    font: var(--labels-x-small);
    padding: 0 var(--spacing-sizing-02);
    background-color: var(--background);
    color: var(--foreground);

    &[data-color='primary'] {
        --foreground: var(--foreground-brand-on-primary);
        --background: var(--foreground-brand-primary);
    }

    &[data-color='secondary'] {
        --foreground: var(--foreground-brand-on-secondary);
        --background: var(--foreground-brand-secondary);
    }

    &[data-size='x-small'] {
        --size: var(--spacing-sizing-05);

        padding: 2px var(--spacing-sizing-01);
    }

    &[data-variant='notification'] {
        --size: 6px;

        padding: 0;
        display: block;
    }

    &[data-surface-border] {
        border: 2px solid var(--surface-neutral-t1-base);
    }
}
