[data-search-results] {
    margin-top: 0.5rem;
    max-height: 50vh;
    overflow-y: scroll;

    [data-search-result] {
        padding: 0.5rem 0.5rem 1rem;
        cursor: pointer;
        border-radius: var(--radius-sm);

        span {
            color: var(--foreground-brand-primary);
        }

        &:hover {
            h5 {
                color: var(--foreground-brand-primary);
            }

            background-color: var(--surface-brand-primary-highlight);
        }

        &[data-active] {
            background-color: var(--surface-brand-primary-highlight);

            h5 {
                color: var(--foreground-brand-primary);
            }
        }
    }
}
