[data-pttrn='inline-alert'] {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    gap: var(--spacing-sizing-02);

    [data-txt] {
        flex: 1;
    }

    &[data-variant='error'] {
        color: var(--status-error);

        --first-tone: var(--status-error);
        --second-tone: var(--status-on-information);
    }

    &[data-variant='success'] {
        color: var(--status-success);

        --first-tone: var(--status-success);
        --second-tone: var(--status-on-success);
    }

    &[data-variant='warning'] {
        color: var(--foreground-neutral-on-surface);

        --first-tone: var(--status-warning);
        --second-tone: var(--status-on-warning);
    }

    &[data-variant='informational'] {
        color: var(--status-information);

        --first-tone: var(--status-information);
        --second-tone: var(--status-on-information);
    }

    svg {
        color: var(--first-tone);
        width: var(--spacing-sizing-05);
        height: var(--spacing-sizing-05);
        flex: 0 0 auto;

        [data-second-tone] {
            fill: var(--second-tone);
        }
    }
}
