[data-pttrn='progress-bar'] {
    /*! --width: is set via inline style */

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-sizing-01);

    progress {
        opacity: 0;
        position: absolute;
    }

    [data-bar] {
        width: 100%;
        height: var(--spacing-sizing-02);
        background-color: var(--surface-neutral-t3-low);
        border-radius: var(--radius-sm);

        &::after {
            content: '';
            display: block;
            height: 100%;
            background-color: var(--foreground-brand-primary);
            border-radius: var(--radius-sm);
            width: var(--width);
            transition: width 0.3s;
        }
    }

    &[data-size='small'] {
        [data-bar] {
            height: var(--spacing-sizing-01);
        }
    }

    &[data-success='color'] {
        [data-bar]::after {
            background-color: var(--status-success);
        }
    }

    label {
        font-size: var(--labels-small);
        width: 100%;
        text-align: center;
    }

    &[data-align='left'] label {
        text-align: left;
    }
}
