[data-pttrn='textarea'] {
    /*! 
    --min-rows: is set via inline style 
    --max-rows: is set via inline style
    */

    display: grid;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-sm);
    overflow: hidden;
    color: var(--foreground-neutral-on-surface);
    background-color: var(--surface-neutral-t1-base);

    --border-color: var(--stroke-neutral-base);

    /* &[data-size='medium'] */
    --font: var(--body-base);
    --line-height: 20px;
    --padding: var(--spacing-sizing-03);

    &[data-size='small'] {
        --font: var(--body-small);
        --line-height: 20px;
        --padding: var(--spacing-sizing-02);
    }

    &[data-size='large'] {
        --font: var(--body-large);
        --line-height: 24px;
        --padding: var(--spacing-sizing-03);
    }

    &:has(textarea:focus-within) {
        --border-color: var(--stroke-neutral-focus);
    }

    &:has(textarea[aria-invalid]) {
        --border-color: var(--status-error);
    }

    [data-replicated-value] {
        white-space: pre-wrap;
        visibility: hidden;
        overflow-y: hidden;
    }

    textarea,
    [data-replicated-value] {
        width: 100%;
        font: var(--font);
        padding: var(--padding);
        border: none;
        background: transparent;
        grid-area: 1 / 1 / 2 / 2;
        min-height: calc((var(--line-height) * var(--min-rows)) + (var(--padding) * 2));
        max-height: calc((var(--line-height) * var(--max-rows)) + (var(--padding) * 2));
        max-width: 100%;
    }

    textarea {
        text-wrap: break-word;

        &::placeholder {
            color: var(--foreground-neutral-on-surface-variant-03);
        }

        resize: none;
        color: inherit;
        background-color: inherit;
        outline: none;
    }

    &:hover:not(:focus-within) {
        background:
            linear-gradient(var(--interactions-hover-opacity), var(--interactions-hover-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &:active:not(:focus-within) {
        background:
            linear-gradient(var(--interactions-press-opacity), var(--interactions-press-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &[data-readonly] {
        --border-color: var(--stroke-neutral-disabled-light);

        background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &[data-disabled],
    &:has([data-main-input][disabled]) {
        --border-color: var(--stroke-neutral-disabled-light);

        background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));

        & > * {
            color: var(--foreground-neutral-disabled-on-surface);
        }
    }

    &[data-invalid] {
        --border-color: var(--status-error);
    }

    &:focus-within {
        --border-color: var(--stroke-neutral-focus);

        outline: 1px solid var(--stroke-neutral-focus);
    }
}
