[data-pttrn='fab'] {
    --placement-offset: var(--spacing-sizing-04);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sizing-02);
    border: none;
    cursor: pointer;
    text-decoration: none;
    z-index: var(--z-index-fab);
    box-shadow: var(--drop-shadow-float);
    border-radius: var(--radius-sm);

    &[data-container='page'] {
        position: fixed;
    }

    &[data-container='local'] {
        position: absolute;
    }

    &[data-placement='top-right'] {
        top: var(--placement-offset);
        right: var(--placement-offset);
    }

    &[data-placement='bottom-right'] {
        bottom: var(--placement-offset);
        right: var(--placement-offset);
    }

    &[data-placement='top-left'] {
        top: var(--placement-offset);
        left: var(--placement-offset);
    }

    &[data-placement='bottom-left'] {
        bottom: var(--placement-offset);
        left: var(--placement-offset);
    }

    > [data-fab-icon] {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    > [data-fab-label] {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &[data-size='medium'] {
        font: var(--labels-base);
        height: var(--spacing-sizing-10);
        padding: 0 var(--spacing-sizing-04);

        > [data-fab-icon] {
            width: var(--spacing-sizing-05);
        }
    }

    &[data-size='x-large'] {
        font: var(--labels-large);
        height: var(--spacing-sizing-14);
        padding: 0 var(--spacing-sizing-07);

        > [data-fab-icon] {
            width: var(--spacing-sizing-06);
        }
    }

    &[data-variant='primary'] {
        --variant-background: var(--surface-brand-primary);
        --variant-foreground: var(--foreground-brand-on-primary);
    }

    &[data-variant='secondary'] {
        --variant-background: var(--surface-brand-secondary);
        --variant-foreground: var(--foreground-brand-on-secondary);
    }

    &[data-variant='neutral'] {
        --variant-background: var(--surface-neutral-t1-base);
        --variant-foreground: var(--foreground-neutral-on-surface-variant-01);
    }

    background: var(--variant-background);
    color: var(--variant-foreground);

    --variant-gradient: linear-gradient(var(--variant-background), var(--variant-background));

    [data-pseudo='hover'] > &,
    &:hover {
        background:
            linear-gradient(var(--interactions-brand-hover-opacity), var(--interactions-brand-hover-opacity)),
            var(--variant-gradient);
    }

    [data-pseudo='active'] > &,
    &:active {
        background:
            linear-gradient(var(--interactions-brand-press-opacity), var(--interactions-brand-press-opacity)),
            var(--variant-gradient);
    }

    [data-pseudo='focus'] > &,
    &:focus-visible {
        outline: solid 2px var(--stroke-neutral-focus);
        isolation: isolate;
    }

    &[data-round] {
        border-radius: var(--radius-full);
        aspect-ratio: 1/1;
        padding: 0;
    }
}
