[data-pttrn='dialog'] {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-dialog);
    display: flex;
    pointer-events: none; /* makes scrim clickable */

    --height: 100vh;
    --width: 100vw;

    [data-dialog-box] {
        pointer-events: all; /* allow pointer events on the dialog box */
        text-align: start;
        position: absolute;
        box-shadow: var(--drop-shadow-float);
        background: var(--surface-neutral-t1-base);
        color: var(--foreground-neutral-on-surface);
        max-height: calc(var(--height) - var(--spacing-sizing-24));
        z-index: 2;
        width: calc(100% - var(--spacing-sizing-08));
        animation-name: var(--box-animation-name);
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0;

        > :first-of-type {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        /* we make the width responsive to the viewport */
        @media (width >= 640px) {
            width: 90%;
        }

        @media (width >= 768px) {
            width: 80%;
        }

        @media (width >= 1024px) {
            width: 60%;
        }

        @media (width >= 1280px) {
            width: 50%;
        }
    }

    &[data-placement='center'] {
        --box-animation-name: fade-in;

        justify-content: center;
        align-items: center;

        [data-dialog-box] {
            border-radius: var(--radius-lg);
        }
    }

    &[data-placement='bottom'] {
        --box-animation-name: placement-bottom;

        justify-content: center;
        align-items: end;

        [data-dialog-box] {
            border-top-left-radius: var(--radius-lg);
            border-top-right-radius: var(--radius-lg);
        }
    }

    &[data-placement='top'] {
        --box-animation-name: placement-top;

        justify-content: center;
        align-items: start;

        [data-dialog-box] {
            border-bottom-left-radius: var(--radius-lg);
            border-bottom-right-radius: var(--radius-lg);
        }
    }

    &[data-placement='left'] {
        --box-animation-name: placement-left;

        justify-content: flex-start;

        [data-dialog-box] {
            max-height: unset;
            width: 280px;
            height: var(--height);
            border-bottom-right-radius: var(--radius-lg);
            border-top-right-radius: var(--radius-lg);
        }
    }

    &[data-placement='right'] {
        --box-animation-name: placement-right;

        justify-content: flex-end;

        [data-dialog-box] {
            max-height: unset;
            width: 280px;
            height: var(--height);
            border-bottom-left-radius: var(--radius-lg);
            border-top-left-radius: var(--radius-lg);
        }
    }

    [data-width-full='true'] {
        width: 100%;
    }

    &[data-contained] {
        position: absolute;

        --height: 100%;
        --width: 100%;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translate(var(--spacing-sizing-01), var(--spacing-sizing-01));
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    @keyframes placement-left {
        0% {
            opacity: 0;
        }

        1% {
            transform: translateX(calc(-1 * var(--width, 100vw)));
            opacity: 1;
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes placement-right {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
            transform: translateX(var(--width, 100vw));
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes placement-top {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
            transform: translateY(calc(-1 * var(--height, 100vh)));
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes placement-bottom {
        0% {
            opacity: 0;
        }

        1% {
            opacity: 1;
            transform: translateY(var(--height, 100vh));
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
