ul[data-pttrn-utility='tab-list'] {
    --item-flex-grow: 0;

    display: flex;
    flex-direction: row;
    list-style: none;
    height: var(--height);
    font: var(--font);
    width: fit-content; /* default to hug content */

    &[data-width='fill'] {
        align-items: stretch;
        width: 100%;

        --item-flex-grow: 1;
    }

    --icon-size: var(--spacing-sizing-05);
    --font: var(--labels-base);
    --height: var(--spacing-sizing-10);

    &[data-size='small'] {
        --font: var(--labels-small);
        --height: var(--spacing-sizing-08);
        --icon-size: var(--spacing-sizing-04);
    }

    &[data-size='large'] {
        --font: var(--labels-large);
        --height: var(--spacing-sizing-12);
        --icon-size: var(--spacing-sizing-06);
    }

    &:has(:focus-visible) {
        outline: 2px solid var(--stroke-neutral-focus);
        outline-offset: -1px;
        position: relative;
        z-index: var(--z-index-focus);
    }

    li {
        list-style: none;
        cursor: pointer;
        font: var(--font);
        white-space: nowrap;
        outline: none;
        user-select: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-sizing-02);
        min-width: 0; /* Prevent overflow from long content */

        &[aria-disabled] {
            cursor: not-allowed;
        }

        span {
            pointer-events: none;
        }

        [data-label][style] {
            justify-content: left;
            max-width: 200px;
        }

        svg {
            width: var(--icon-size);
        }
    }

    &:not([data-pttrn]):focus-within {
        li:not([aria-disabled]) {
            &[data-active] {
                background-color: var(--interactions-neutral-hover-opacity);
            }

            &[aria-selected='true'] {
                background-color: var(--surface-brand-primary-highlight);
            }
        }
    }
}
