[data-pttrn='button'] {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sizing-02);
    border: none;
    cursor: pointer;
    background: transparent;
    text-decoration: none;
    width: fit-content;
    font-family: var(--typeface);

    [data-touch-target] {
        min-width: var(--spacing-sizing-12);
        min-height: var(--spacing-sizing-12);
    }

    &[data-width='hug'] {
        width: fit-content;
    }

    &[data-width='fill'] {
        width: 100%;
    }

    &[data-size='x-small'] {
        font-size: var(--typography-size-xs);
        line-height: var(--typography-line-height-lh-1);
        height: var(--spacing-sizing-06);
        min-width: var(--spacing-sizing-06);
        gap: var(--spacing-sizing-02);

        &:has([data-button-label]),
        &[data-override] {
            padding: 0 var(--spacing-sizing-02);
        }

        [data-button-icon] svg {
            width: var(--spacing-sizing-04);
            height: var(--spacing-sizing-04);
        }
    }

    &[data-size='small'] {
        font-size: var(--typography-size-sm);
        line-height: var(--typography-line-height-lh-2);
        height: var(--spacing-sizing-08);
        min-width: var(--spacing-sizing-08);

        &:has([data-button-label]),
        &[data-override] {
            padding: 6px var(--spacing-sizing-04);
        }

        [data-button-icon] svg {
            width: var(--spacing-sizing-05);
            height: var(--spacing-sizing-05);
        }
    }

    &[data-size='medium'] {
        font-size: var(--typography-size-base);
        line-height: var(--typography-line-height-lh-2);
        height: var(--spacing-sizing-10);
        min-width: var(--spacing-sizing-10);

        &:has([data-button-label]),
        &[data-override] {
            padding: var(--spacing-sizing-02) var(--spacing-sizing-04);
        }

        [data-button-icon] svg {
            width: var(--spacing-sizing-05);
            height: var(--spacing-sizing-05);
        }
    }

    &[data-size='large'] {
        font-size: var(--typography-size-bp-md);
        line-height: var(--typography-line-height-lh-4);
        height: var(--spacing-sizing-12);
        min-width: var(--spacing-sizing-12);

        &:has([data-button-label]),
        &[data-override] {
            padding: var(--spacing-sizing-03) var(--spacing-sizing-04);
        }

        [data-button-icon] svg {
            width: var(--spacing-sizing-06);
            height: var(--spacing-sizing-06);
        }
    }

    &[disabled] {
        cursor: not-allowed;
    }

    [data-button-icon] {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    [data-button-label] {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &[data-variant='primary'] {
        --primary-background: var(--surface-brand-primary);

        background-color: var(--primary-background);
        color: var(--foreground-brand-on-primary);
        border-radius: var(--button-border-radius);

        &[disabled] {
            color: var(--foreground-neutral-disabled-on-surface);
            background: var(--interactions-disabled-opacity);
        }

        &:not([disabled]) {
            [data-pseudo='hover'] > &,
            &:hover {
                background:
                    linear-gradient(var(--interactions-brand-hover-opacity), var(--interactions-brand-hover-opacity)),
                    linear-gradient(var(--primary-background), var(--primary-background));
            }

            [data-pseudo='active'] > &,
            &:active {
                background:
                    linear-gradient(var(--interactions-brand-press-opacity), var(--interactions-brand-press-opacity)),
                    linear-gradient(var(--primary-background), var(--primary-background));
            }

            [data-pseudo='focus'] > &,
            &:focus-visible {
                outline: solid 2px var(--stroke-neutral-focus);
                isolation: isolate;
            }
        }

        &[data-destructive] {
            &:not([disabled]) {
                --primary-background: var(--status-error);

                color: var(--foreground-brand-on-primary);
            }
        }
    }

    &[data-variant='secondary'] {
        border: solid var(--button-border-width) var(--stroke-neutral-base);
        border-radius: var(--button-border-radius);
        color: var(--foreground-neutral-on-surface-variant-01);

        &[disabled] {
            color: var(--foreground-neutral-disabled-on-surface);
            border: solid var(--button-border-width) var(--stroke-neutral-disabled-light);
        }

        &:not([disabled]) {
            [data-pseudo='hover'] > &,
            &:hover {
                background-color: var(--interactions-neutral-hover-opacity);
            }

            [data-pseudo='active'] > &,
            &:active {
                background-color: var(--interactions-neutral-press-opacity);
            }

            [data-pseudo='focus'] > &,
            &:focus-visible {
                outline: solid 2px var(--stroke-neutral-focus);
                isolation: isolate;
            }
        }

        &[data-destructive] {
            &:not([disabled]) {
                background: transparent;
                color: var(--status-error);
                border: solid var(--button-border-width) var(--status-error);
            }
        }
    }

    &[data-variant='tertiary'] {
        background: transparent;
        color: var(--foreground-neutral-on-surface-variant-01);

        &[disabled] {
            color: var(--foreground-neutral-disabled-on-surface);
        }

        &:not([disabled]) {
            [data-pseudo='hover'] > &,
            &:hover {
                background: var(--interactions-neutral-hover-opacity);
            }

            [data-pseudo='active'] > &,
            &:active {
                background: var(--interactions-neutral-press-opacity);
            }

            [data-pseudo='focus'] > &,
            &:focus-visible {
                outline: solid 2px var(--stroke-neutral-focus);
                isolation: isolate;
            }
        }

        &[data-destructive] {
            &:not([disabled]) {
                color: var(--status-error);
            }
        }
    }
}
